:root{
    --lightColorBackground: #f0f0f5;
    --borderColor: #e6e6e6;
    --lightFontColor: #999999;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #ffffff;
}
h5{
    color: var(--lightFontColor);
    font-weight: 700;
}
#headerWrapper {
    margin: 0 auto;
    height: 60px;
    border-bottom: 3px solid var(--borderColor);
}
#mainWrapper{
    max-width: 1960px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#mainWrapper > * {
    flex: 1 100%;
}
#mainWrapper #asideWrapper{
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    padding: 25px;
    background-color: var(--lightColorBackground);
    border-left: 3px solid var(--borderColor);
    border-right: 3px solid var(--borderColor);
}
#mainWrapper #asideWrapper > * {
    flex: 1 100%;
}

.usageCanvasWrapper{
    position: relative;

}
#memoryUsageCanvasWrapper{
    max-height: 40vh;
}
#listTopProcess{
    list-style-type: none;
}
#listTopProcess .processItem {

}
#listTopProcess .processItem::before{
    content: '\🔥';
    margin-left: -15px;
    margin-right: 10px;
}
#mainInfoWrapper{
    flex: 2;
    display: flex;
    flex-flow: row wrap;
}
#mainInfoWrapper > * {
    flex: 1 100%;
}
#mainInfoWrapper #usageCanvasWrapper{
    max-height: 40vh;
}