*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -10000;
}
#headerWrapper {
    max-width: 960px;
    margin: 0 auto;
    height: 60px;
}
#mainWrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#mainWrapper #topProcess{
    max-width: 400px;
    min-height: 250px;
    border-radius: 5px;
    margin: 10px;
    padding: 25px;
    background-color: rgba(255, 255, 255, .3);
}
.usageCanvasWrapper{
    margin: 10px;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);
}
#listTopProcess{
    list-style-type: none;
}
#listTopProcess .processItem {

}
#listTopProcess .processItem::before{
    content: '\🔥';
    margin-left: -15px;
    margin-right: 10px;
}
#memoryUsageCanvasWrapper {
    max-width: 400px;
    height: auto;
    padding: 15px;
}